h1 {
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #fff;
    background-color: #333;
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}
  
nav a.active {
    background-color: #043eaa;
}

nav a.ooo {
    color: grey;
    pointer-events: none;
    /* cursor: not-allowed; */
}
